#section__category{
    margin-top: 199px;
}
.block__category{
    display: flex;
    justify-content: space-between;
}
.block__category--right{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
    width: 100%;
}
.category-img{
    width: 255px;
    height: 225px;
}
.category-title{
    color: var(--bl, #101010);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.18px;
    width: 285px;
}
.category-price{
    color: var(--2-grey, #777);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
}
.category-btn{
    padding: 11px 29px;
    border-radius: 10px;
    background: var(--orange, #F57520);
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    border: none;
    margin-top: 16px;
    cursor: pointer;
}
.category-btn:hover{
    background: #cb7136;
}
.block__category--left__input{
    padding: 16px 29px;
    outline: none;
    border-radius: 16px;
}
.block__category--left option{
    color: black;
}
.block__category--left__select--option{
    padding: 16px;
}
.block__category--left__select{
    padding: 11px;
    border-radius: 16px;
    margin-top: 16px;
}
@media screen and (max-width: 789px){
    .block__category{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block__category--left{
        display: flex;
        flex-direction: column;
    }
    .block__category--right{
        margin: auto;
    }
    .category-title{
        width: 100%;
    }
}