#section__acardeon{
    padding: 80px;
}
.block__acardeon{
    display: flex;
    flex-direction: column;
}
.block__acardeon--content{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    overflow-y: hidden;
}
.block__acardeon--content__top--wrap{
    display: flex;
    justify-content: space-between;
}
.block__acardeon--content__top--wrap{
    border: 2px solid black;
    padding: 19px;
}
.block__acardeon--content__top--wrap h3{
    color: var(--bl, #101010);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.18px;
}
.block__acardeon--content__bottom{
    color: var(--1-grey, #4C4C4C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 29px;
}
.block__acardeon--content__top--wrap svg{
    cursor: pointer;
}
.block__acardeon--content__bottom{
    display: none;
}
.block__acardeon--content__active .block__acardeon--content__bottom{
    display: block;
    transition: 2s;
}
.block__acardeon--content__active .active{
    transform: rotate(180deg);
}
@media screen and (max-width: 390px){
    .block__acardeon--content__bottom{
        overflow: auto;
        max-width: 95%;
        padding: 12px 4px;
        margin: 0 auto;
        max-height: 100%;
    }
}