@import url("./header/header.css");
@import url("./main/main.css");
@import url("./partners/partners.css");
@import url("./items/items.css");
@import url("./category/category.css");
@import url("./info/info.css");
@import url("./models/models.css");
@import url("./acardeon/acardeon.css");
@import url("./advantages/advantages.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', sans-serif;
}
.container{
    max-width: 70%;
    margin: 0 auto;
}