#section__items{
    background: var(--bg, #F8F8F8);
    padding: 100px;
}
.swiper .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.swiper .swiper-wrapper .swiper-slide img{
    width: 368px;
    height: 287px;
}
.swiper .swiper-wrapper .swiper-slide h3{
    color: var(--bl, #101010);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.18px;
    width: 349px;
}
.swiper .swiper-wrapper .swiper-slide p{
    color: var(--2-grey, #777);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
}
.block__items--card__left{
    background: white;
    padding: 19px;
}
.block__items--card__right{
    background: white;
    padding: 19px;
}
@media screen and (max-width: 1150px){
    .swiper .swiper-wrapper .swiper-slide img{
        width: 200px;
        height: 200px;
    }
    .swiper .swiper-wrapper .swiper-slide h3{
        font-size: 18px;
        width: 100%;
    }
}
@media screen and (max-width: 860px){
    .swiper .swiper-wrapper .swiper-slide img{
        width: 150px;
        height: 150px;
    }
    .swiper .swiper-wrapper .swiper-slide h3{
        font-size: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 390px){
    .block__items--card__left{
        width: 200px;
        height: 200px;
    }
    .swiper .swiper-wrapper .swiper-slide{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 19px;
    }
    .swiper .swiper-wrapper .swiper-slide img{
        width: 150px;
        height: 150px;
    }
    .swiper .swiper-wrapper .swiper-slide h3{
        font-size: 11px;
        width: 100%;
    }
}